.error-alert {
    width:14%;
    height:12%;
    position:fixed;
    background-color: #e61919;
    border-radius: 3px; 
    text-align: center;
    animation-fill-mode: forwards;
}

@keyframes error-render-center-bottom {
    0% {
        bottom: -10px;
        opacity: 0;
    }
    20% {
        bottom: 10px;
        opacity: 1;
    }
    100% {
        bottom: -10px;
        opacity:0;
    }
}

@keyframes error-render-center-top {
    0% {
        top: -10px;
        opacity: 0;
    }
    20% {
        top: 10px;
        opacity: 1;
    }
    100% {
        top: -10px;
        opacity:0;
    }
}

@keyframes error-render-left {
    0% {
        left: -20px;
        opacity:0;
    }
    20% {
        left: 20px;
        opacity: 1;
    }
    100% {
        left: -20px;
        opacity:0;
    }
}

@keyframes error-render-right {
    0% {
        right: -20px;
        opacity:0;
    }
    20% {
        right: 20px;
        opacity: 1;
    }
    100% {
        right: -20px;
        opacity:0;
    }
}

#disable-button {
    border:none;
    background-color: #00000000;
    position: absolute;
    left: 0;
}

#disable-button img {
    width: 15px;
    height: 15px;
}