.error-alert {
    width:150px;
    height:70px;
    position:fixed;
    background-color: #e41c1c8c;
    border-radius: 3px; 
    transition: all 1s;
    text-align: center;
}

#disable-button {
    border:none;
    background-color: #00000000;
    position: absolute;
}

#disable-button img {
    width: 30px;
    height: 30px;
}