.error-alert {
    width:14%;
    height:12%;
    position:fixed;
    background-color: #e41c1c8c;
    border-radius: 3px; 
    transition: left 1s;
    text-align: center;
    animation-name: error-render-right;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
.success-alert {
    width:14%;
    height:12%;
    position:fixed;
    background-color: #19e04b8c;
    border-radius: 3px; 
    transition: left 1s;
    text-align: center;
    animation-name: error-render-right;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes error-render-center-bottom {
    0% {
        bottom: -10px;
        opacity: 0;
    }
    50% {
        bottom: 10px;
        opacity: 1;
    }
    100% {
        bottom: -10px;
        opacity:0;
    }
}

@keyframes error-render-center-top {
    0% {
        top: -10px;
        opacity: 0;
    }
    50% {
        top: 10px;
        opacity: 1;
    }
    100% {
        top: -10px;
        opacity:0;
    }
}

@keyframes error-render-left {
    0% {
        left: -20px;
        opacity:0;
    }
    50% {
        left: 20px;
        opacity: 1;
    }
    100% {
        left: -20px;
        opacity:0;
    }
}

@keyframes error-render-right {
    0% {
        left: 100%;
        opacity:0;
    }
    50% {
        left: 85%;
        opacity: 1;
    }
    100% {
        left: 100%;
        opacity:0;
    }
}

#disable-button {
    border:none;
    background-color: #00000000;
    position: absolute;
}

#disable-button img {
    width: 30px;
    height: 30px;
}